@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.principal{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #1f2028;
    margin-bottom: 0;
    margin-right: 0;
}

.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background: rgb(56,132,252);
}
.contenedor{
    position: relative;
    width: 1100px;
    height: 400px;
}

.contenedor .card{
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%, calc(100px *var(--i))) rotate(40deg) skew(-20deg,-10deg);
    width:300px;
    height: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 25px 100px rgba(0,0, 0, 0.2);
    z-index: calc(-1 * var(--i));
    transition: 0.5s;
}
.contenido p{
    font-size: 12px;
    display: flex;
    justify-content: center;

}
.contenido h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .card:nth-child(1){
    opacity: 1;
}
.contenedor .card:nth-child(2){
    opacity: 0.8;
}
.contenedor .card:nth-child(3){
    opacity: 0.6;
}
.contenedor:hover .card {
    position: absolute;
    top: 50%;
    left:80%;
    z-index: 1;
    opacity: 1;
    box-shadow: 0px 25px 50px rgba(0,0, 0, 0.2);
    transform: translate(calc(-50% + calc(350px*var(--i))),-50%) rotate(0deg) skew(0deg,0deg);
   
}

.contenedor .card .contenido{
    color: #444;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(50px);
    padding: 25px;
    text-align: center;
}

.contenedor:hover .card .contenido{
    opacity: 1;
    transform:translateY(0px);
}

.contenedor-iconos{
    margin-bottom: 10px;
    display: block;
}

section{
    position: relative;
    width:100%;
}
section .olas{
    position: relative;
}

section .olas .ola{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}

section .olas .ola#ola1{
    opacity: 1;
    bottom: 0;
    z-index: 1000;
    animation: animate 4s linear infinite;
}

section .olas .ola#ola2{
    opacity: 0.5;
    bottom: 10px;
    z-index: 999;
    animation: animate2 2s linear infinite;
}
section .olas .ola#ola3{
    opacity: 0.2;
    bottom: 15px;
    z-index: 998;
    animation: animate 4s linear infinite;
}

section .olas .ola#ola4{
    opacity: 0.7;
    bottom: 20px;
    z-index: 999;
    animation: animate2 2s linear infinite;
}

.cielo {
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100%; 
    pointer-events: none;
    mix-blend-mode: screen;
}

h2{
    position: absolute;
    bottom:60vh;
    transform: translateY(50%);
    width: 100%;
    text-align: center;
    font-size: 8em;
    font-weight: 800;
    text-transform: uppercase;
}
h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;

}
h2:nth-child(3){
    color: #03a9f4;
    animation: animateOndas 4s ease-in-out infinite;
}
h2:nth-child(2){
    color: #d4dee6;
    animation: animateOndas2 2s ease-in-out infinite;
}

.barco{
    position: absolute;
    left: 50%;
    transform: translateX(-20%);
    width:800px;
    bottom: 0;
    pointer-events: none;
}

.proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(56,132,252);

}
h1{
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    color: #fbfdff;
    margin-top: 20%;
    line-height: 1em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    animation: animateText 5s linear infinite;                 
}

.contenedor-submarino{
    width: 100%; /* Asegura que la imagen cubra todo el ancho de la ventana */
    height: 100vh; 
    background-color: rgb(56,132,252);
}
.submarino{
    width: 30%;
    animation: moveSubmarine 10s ease-in-out infinite;
}
/**h1:hover{
    cursor: pointer;
    transform: translateX(10px);  Cambia la posición horizontal en 10 píxeles cuando se realiza hover 
}**/

@keyframes animateText{
    0%{
        transform: rotate(5deg);
    }

    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(5deg);
    }
}

@keyframes animate{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }

}

@keyframes animate2{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }

}

@keyframes animateOndas{
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    25% {
        clip-path: polygon(0% 45%, 15% 40%, 32% 30%, 54% 20%, 70% 25%, 84% 20%, 100% 30%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 45%, 15% 50%, 32% 60%, 54% 70%, 70% 65%, 84% 70%, 100% 60%, 100% 100%, 0% 100%);
    }
}
@keyframes animateOndas2{
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 45%, 15% 50%, 32% 60%, 54% 70%, 70% 65%, 84% 70%, 100% 60%, 100% 100%, 0% 100%);
    }
}


@keyframes moveSubmarine {
    0% {
        transform: translateX(-100%); /* Empieza fuera de la ventana a la izquierda */
    }
    100% {
        transform: translateX(100vw); /* Termina fuera de la ventana a la derecha */
    }
}