@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.principal, .nombre {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #1f2028;
    margin: 0;
    padding: 0;
    position: relative; 
}

.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background: rgb(56,132,252);
}


.contenedor{
    position: relative;
    width: 1100px;
    height: 400px;
}

.contenedor .card{
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%, calc(100px *var(--i))) rotate(40deg) skew(-20deg,-10deg);
    width:300px;
    height: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 25px 100px rgba(0,0, 0, 0.2);
    z-index: calc(-1 * var(--i));
    transition: 0.5s;
}
.contenido p{
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
.contenido h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .card:nth-child(1){
    opacity: 1;
}
.contenedor .card:nth-child(2){
    opacity: 0.8;
}
.contenedor .card:nth-child(3){
    opacity: 0.6;
}
.contenedor:hover .card {
    position: absolute;
    top: 50%;
    left:80%;
    z-index: 1;
    opacity: 1;
    box-shadow: 0px 25px 50px rgba(0,0, 0, 0.2);
    transform: translate(calc(-50% + calc(350px*var(--i))),-50%) rotate(0deg) skew(0deg,0deg);
   
}

.contenedor .card .contenido{
    color: #444;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(50px);
    padding: 25px;
    text-align: center;
}


.contenedor:hover .card .contenido{
    opacity: 1;
    transform:translateY(0px);
}

.contenedor-iconos{
    margin-bottom: 10px;
    display: block;
}

section{
    position: relative;
    width:100%;
}
section .olas{
    position: relative;
}

section .olas .ola{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}

section .olas .ola#ola1{
    opacity: 1;
    bottom: 0;
    z-index: 1000;
    animation: animate 4s linear infinite;
}

section .olas .ola#ola2{
    opacity: 0.5;
    bottom: 10px;
    z-index: 999;
    animation: animate2 2s linear infinite;
}
section .olas .ola#ola3{
    opacity: 0.2;
    bottom: 15px;
    z-index: 998;
    animation: animate 4s linear infinite;
}

section .olas .ola#ola4{
    opacity: 0.7;
    bottom: 20px;
    z-index: 999;
    animation: animate2 2s linear infinite;
}


.cielo {
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100%; 
    pointer-events: none;
    mix-blend-mode: screen;
}

h2{
    position: absolute;
    bottom:60vh;
    transform: translateY(50%);
    width: 100%;
    text-align: center;
    font-size: 8em;
    font-weight: 800;
    text-transform: uppercase;
}
h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;

}
h2:nth-child(3){
    color: #03a9f4;
    animation: animateOndas 4s ease-in-out infinite;
}
h2:nth-child(2){
    color: #d4dee6;
    animation: animateOndas2 2s ease-in-out infinite;
}

h2:nth-child(4){
    padding-top: 300px;
    color: #f3843d;
    font-family: 'Licorice', cursive;
    text-transform: capitalize;
    font-size: 7rem;
}
h2:nth-child(5){
    padding-top: 450px;
    color: #d4dee6;
    font-size: 1.5rem;
    animation: parpadeo 5s infinite;
}
.barco{
    position: absolute;
    left: 50%;
    transform: translateX(-20%);
    width:800px;
    bottom: 0;
    pointer-events: none;
}

.proyectos, .tec, footer, .pez, .boton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(56,132,252);
}

#div-Eng{
    display: none;
    justify-content: center;
    align-items: center;
    background-color:  rgb(56,132,252);
}
#div-Eng p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
    padding-top: 80px;
    color: #fff;
    font-size: 1em;
}

.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color:  rgb(56,132,252);
    padding-bottom: 10px;
}

h1{
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    color: #fbfdff;
    margin-top: 20%;
    line-height: 1em;
    animation: animateText 5s linear infinite;                 
}

.contenedor-submarino{
    width: 100%; 
    height: auto; 
    background-color: rgb(56,132,252);
}
.submarino{
    width: 30%;
    animation: moveSubmarine 10s ease-in-out infinite;
}


.contenedor-skills {
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(56,132,252);
}

.columna-skills {
    display: inline-block; 
    margin: 10px;
    text-align: center;
}


.columna-skills img {
    width: auto; 
    height: 170px;
    animation: animateText 5s linear infinite; 
}


.boton{
     padding-top: 40px;
}
.boton button{
    margin-right: 20px;
    border: none;
    color:#0a0b0f;
    padding: 10px 20px;
    border-radius: 50px; 
    font-size: 18px;
    cursor: pointer;
    transition:ease-in 0.3s ease, transform 0.3s ease; 
}
.boton button:hover{
    background-color: #006dd3;
    color:#fff;
    transform: scale(1.1);
}

.ondeado{
    position: relative;
    -webkit-box-reflect: below -12 px linear-gradient(trasparent, rgba(0,0,0,0.2));
    padding-top: 15%;
    padding-bottom: 10%;
}
.ondeado span{
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    animation: animateonda 4s ease-in-out infinite;
    animation-delay: calc(0.1s*var(--i));
}
.proyectos p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
    padding-top: 80px;
    color: #fff;
    font-size: 1em;
}
.contenedor-iconito {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}
.email p{
    color: #fff;
    justify-content: center;
    padding-bottom: 20px;
}
.contenedor-iconito i {
    color: #fff;
    font-size: 4rem;
    margin-right: 25px;
    transform: translateY(0); 
}
.icon2{    
    animation: iconoflotauno 2s infinite ease-in-out; 
}
.icon1, .icon3{
    animation: iconoflotados 2s infinite ease-in-out; 
}

.icon1:hover, .icon2:hover, .icon3:hover {
    color:#006dd3;
}

.pez{
    padding: 100px;
    transform: translateY(0); 
}
.pez-nada{
    animation: pezflotados 2s infinite ease-in-out; 
}

@keyframes parpadeo {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
    }
    50% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 1); 
    }
    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

@keyframes pezflotados {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-50px); 
    }
    100% {
        transform: translateY(0); 
    }
}


@keyframes iconoflotados {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-5px); 
    }
    100% {
        transform: translateY(0); 
    }
}

@keyframes iconoflotauno {
    0% {
        transform: translateY(-5px); 
    }
    50% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(-5px); 
    }
}

@keyframes animateonda {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%, 100%{
        transform: translateY(0px);
    }
}

@keyframes animateText{
    0%{
        transform: rotate(5deg);
    }

    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(5deg);
    }
}

@keyframes animate{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }

}

@keyframes animate2{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }

}

@keyframes animateOndas{
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    25% {
        clip-path: polygon(0% 45%, 15% 40%, 32% 30%, 54% 20%, 70% 25%, 84% 20%, 100% 30%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 45%, 15% 50%, 32% 60%, 54% 70%, 70% 65%, 84% 70%, 100% 60%, 100% 100%, 0% 100%);
    }
}
@keyframes animateOndas2{
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 45%, 15% 50%, 32% 60%, 54% 70%, 70% 65%, 84% 70%, 100% 60%, 100% 100%, 0% 100%);
    }
}


@keyframes moveSubmarine {
    0% {
        transform: translateX(-100%); 
    }
    100% {
        transform: translateX(100vw); 
    }
}